<!DOCTYPE html>
<html lang="en">
<head>
    <%- include style.ejs%>
    <%- include links.ejs%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- This should be a post method -->
    <form method="GET" action="/pleh" class="form-post">
        <label for="tweet">Tweet</label>
        <textarea class="button-primary form-item" type='text' name='content' id="tweet" maxlength="280" cols="60"></textarea>
        <button type="submit" class="form-item">Yell At the World</button>
    </form>
</body>
</html>