<!DOCTYPE html>
<html lang="en">
<head>
    <%- include style.ejs%>
    <%- include links.ejs%>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
<div class="embbed">
    <a class="twitter-timeline" href="https://twitter.com/Bolsheviks20?ref_src=twsrc%5Etfw">Tweets by Bolsheviks20</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</body>
</html>