<!DOCTYPE html>
<html lang="en">
<head>
    <%- include style.ejs%>
    <%- include links.ejs%>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
<div class="embbed2">
    <h1>Thanks</h1>
    <p>
        Thanks for using AnonTweet
        <br>
        This was made in a day for a <strong>hackathon</strong>
        <br>
        By:
        Person 1 and Person 2
        <br>
        <strike>Yeah we dont want our names on this</strike>
        <br>
        <br>
        <br>
        Tweet can sometimes take upto 3mins to process
    </p>
</div>
<div class="embbed">
    <a class="twitter-timeline" href="https://twitter.com/Bolsheviks20">Tweets by Bolsheviks20</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</body>
</html>